#containerListe, #containerListe > *{
	background-color= #555555;
	border: 1px solid black;
}
.actions{
	display:inline;
}
body .stage{
	position:absolute;
	top: 0;
	left: 0;
	border: 2px solid black;
	z-index: -1;
}